.container {
	margin: 0 auto;
	margin-top: 10%;
	width: 50%;
}

.container2 {
	margin: 0 auto;
	margin-top: 5%;
	width: 50%;
}

.titlePage {
	margin: 0 auto;
	margin-top: 3%;
	width: 50%;
	font-size: small;
	font-weight: thin;
}
