<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLACKJACCKINO</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  	<link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
	<h1 class='titlePage'>BlackJackino<br><span style='font-size: smaller'>By Curfa</span></h1>
	<div class="container">
			 <form action="/play/{{ id }}" method="POST">
				<input type="number" hidden value="{{ step }}" name='step'>
				{% if step != 1 %}
				<input type="submit" name="move" value="pass" class='btn btn-success'>
				<input type="submit" name="move" value="card" class='btn btn-warning'>
				{% else %}
				{% if not player %}
				<input type='text' name='addr' placeholder='Address' required id="addr_input">
				<input type='text' id='txHash' required hidden name='txHash'>
				{% endif %}
				<div class="btn-group" role="group" aria-label="Basic example">
				<input type="submit" value="PLAY" id="play_btn" class='btn btn-secondary'>
				{% endif %}
			</form>

			{% if not player %}
			<button type="button" class="btn btn-primary connect" id="main_btn">Connect</button>
				</div>
			{% else %}
			</div>
			{% endif %}
	</div>

	<div class="container2">
	{% if error %}
	<h1 style="color: red;">{{ error }}</h1>
	{% endif %}
	{% if res %}
	<br>
	<h1>{{ res }}</h1>
	<br>
	{% endif %}
	{% if player %}
	<table>
		<tr>
			<th>Dealer</th>
			<th>You</th>
		</tr>
		<tr>
			<td>{{ dealer }}</td>
			<td>{{ player }}</td>
		</tr>
		<tr>
			<td>{% if sumD %}{{sumD}}{% endif %}</td>
			<td>{{ sumP }}</td>
		</tr>
		
	</table>
	{% endif %}
</div>


	<script src="/static/js/pay2play.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
